Repository VM-Chinese-translate-group/FTB-Arcanum-Institute-Chinese, pull requests merged in 2024-01, with the labels that each got.

#4 gag
  Patch-Pack-CN/kubejs/assets/gag/lang/zh_cn.json
  Patch-Pack-CN/kubejs/assets/gag/textures/block/no_solicitors_text.png
Labels: need review

#1 神秘学翻译
  Patch-Pack-CN/kubejs/assets/occultism/lang/zh_cn.json
Labels: need review

#3 魔法巫师
  Patch-Pack-CN/kubejs/assets/hexerei/lang/zh_cn.json
Labels: need review

#11 Quests translation for 4 professors
  Patch-Pack-CN/config/ftbquests/quests/chapters/everlipse.snbt
  Patch-Pack-CN/config/ftbquests/quests/chapters/ladymayhaem.snbt
  Patch-Pack-CN/config/ftbquests/quests/chapters/loneztar.snbt
  Patch-Pack-CN/config/ftbquests/quests/chapters/r3gen.snbt
  Patch-Pack-CN/config/ftbquests/quests/chapters/sunekaer.snbt
Labels: ftbquest, need review

#10 Update beggers_and_bargains.snbt
  Patch-Pack-CN/config/ftbquests/quests/chapters/beggers_and_bargains.snbt
Labels: ftbquest, need review

#14 Update map.snbt
  Patch-Pack-CN/config/ftbquests/quests/chapters/map.snbt
Labels: ftbquest, need review

#7 ftbai
  Patch-Pack-CN/kubejs/assets/ftbai/lang/zh_cn.json
  Patch-Pack-CN/kubejs/startup_scripts/itemregistry.js
Labels: need review

#8 Update the_final_chapter.snbt
  Patch-Pack-CN/config/ftbquests/quests/chapters/the_final_chapter.snbt
Labels: ftbquest, need review

#15 ftb地牢和info信息
  Patch-Pack-CN/config/ftbquests/quests/chapters/info.snbt
  Patch-Pack-CN/kubejs/assets/ftbdungeons/lang/zh_cn.json
Labels: ftbquest, need review

#18 奖励表和抽屉
  Patch-Pack-CN/config/ftbquests/quests/reward_tables/book_of_bindings.snbt
  Patch-Pack-CN/config/ftbquests/quests/reward_tables/botania_flowers.snbt
  Patch-Pack-CN/config/ftbquests/quests/reward_tables/drawers_full.snbt
  Patch-Pack-CN/config/ftbquests/quests/reward_tables/drawers_half.snbt
  Patch-Pack-CN/config/ftbquests/quests/reward_tables/great_scrolls.snbt
  Patch-Pack-CN/config/ftbquests/quests/reward_tables/hexerei.snbt
  Patch-Pack-CN/config/ftbquests/quests/reward_tables/hostile_mobs.snbt
  Patch-Pack-CN/config/ftbquests/quests/reward_tables/large_basic_gateways.snbt
  Patch-Pack-CN/config/ftbquests/quests/reward_tables/livingrock_flowers.snbt
  Patch-Pack-CN/config/ftbquests/quests/reward_tables/livingwood_flowers.snbt
  Patch-Pack-CN/config/ftbquests/quests/reward_tables/natures_aura_ores.snbt
  Patch-Pack-CN/config/ftbquests/quests/reward_tables/normal_basic_gateways.snbt
  Patch-Pack-CN/config/ftbquests/quests/reward_tables/ores.snbt
  Patch-Pack-CN/config/ftbquests/quests/reward_tables/passive_spawn_eggs.snbt
  Patch-Pack-CN/config/ftbquests/quests/reward_tables/rare_passive_spawn_eggs.snbt
  Patch-Pack-CN/config/ftbquests/quests/reward_tables/runes.snbt
  Patch-Pack-CN/config/ftbquests/quests/reward_tables/sac_daggers.snbt
  Patch-Pack-CN/config/ftbquests/quests/reward_tables/sac_runes.snbt
  Patch-Pack-CN/config/ftbquests/quests/reward_tables/small_basic_gateways.snbt
  Patch-Pack-CN/config/ftbquests/quests/reward_tables/sword_books.snbt
  Patch-Pack-CN/config/ftbquests/quests/reward_tables/t2_bloodmagic_caps.snbt
  Patch-Pack-CN/config/ftbquests/quests/reward_tables/uncommon_passive_spawn_eggs.snbt
  Patch-Pack-CN/config/ftbquests/quests/reward_tables/wof_reward.snbt
  Patch-Pack-CN/kubejs/assets/storagedrawers/lang/zh_cn.json
Labels: ftbquest, need review

#9 Update beasts.snbt
  Patch-Pack-CN/config/ftbquests/quests/chapters/beasts.snbt
Labels: ftbquest, need review

#13 Update magical_beginnings.snbt
  Patch-Pack-CN/config/ftbquests/quests/chapters/magical_beginnings.snbt
Labels: ftbquest, need review

#12 Update hexerei.snbt/aaronhowser1.snbt
  Patch-Pack-CN/config/ftbquests/quests/chapters/aaronhowser1.snbt
  Patch-Pack-CN/config/ftbquests/quests/chapters/hexerei.snbt
Labels: ftbquest, need review

#16 植物魔法
  Patch-Pack-CN/config/ftbquests/quests/chapters/botanical_gardens.snbt
Labels: ftbquest, previous approve

#17 商店
  Patch-Pack-CN/config/ftbquests/quests/chapters/beggers_and_bargains_2.snbt
  Patch-Pack-CN/config/ftbquests/quests/chapters/beggers_and_bargains_3.snbt
  Patch-Pack-CN/config/ftbquests/quests/chapters/beggers_and_bargains_4.snbt
Labels: approve, ftbquest

#21 新生魔艺章节任务
  Patch-Pack-CN/config/ftbquests/quests/chapters/ars_neauvou.snbt
Labels: ftbquest, ready to merge

#5 js
  Patch-Pack-CN/config/ftbquests/quests/chapters/ghostis_food_shop.snbt
  Patch-Pack-CN/config/ftbquests/quests/chapters/saereth.snbt
  Patch-Pack-CN/config/ftbteamislands/islands.json
  Patch-Pack-CN/kubejs/assets/gateways/lang/zh_cn.json
  Patch-Pack-CN/kubejs/assets/minecraft/texts/end.txt
  Patch-Pack-CN/kubejs/client_scripts/jei/add.js
  Patch-Pack-CN/kubejs/server_scripts/bm_dungeon.js
  Patch-Pack-CN/kubejs/server_scripts/bosshandler.js
  Patch-Pack-CN/kubejs/server_scripts/commands.js
  Patch-Pack-CN/kubejs/server_scripts/ftbdungeons.js
  Patch-Pack-CN/kubejs/server_scripts/functions.js
  Patch-Pack-CN/kubejs/server_scripts/mods/botania.js
  Patch-Pack-CN/kubejs/server_scripts/mods/gateways.js
  Patch-Pack-CN/kubejs/server_scripts/playerhandler.js
  Patch-Pack-CN/kubejs/server_scripts/quests/teleports.js
  Patch-Pack-CN/kubejs/server_scripts/quests/vengeance_spirit.js
  Patch-Pack-CN/kubejs/server_scripts/worldinteractions.js
Labels: ftbquest, need review, question

#20 自然灵气和根源魔法章节翻译
  Patch-Pack-CN/config/ftbquests/quests/chapters/natures_blessing.snbt
Labels: ftbquest, need review, previous approve

#6 Cilent scripts
  Patch-Pack-CN/kubejs/client_scripts/jei/info.js
  Patch-Pack-CN/kubejs/client_scripts/tooltips.js
Labels: in progress, need review

#19 神秘学及灵灾任务
  Patch-Pack-CN/config/ftbquests/quests/chapters/occultism.snbt
Labels: ftbquest, need review

#22 进程章节任务
  Patch-Pack-CN/config/ftbquests/quests/chapters/progression.snbt
Labels: ftbquest, ready to merge

#24 Update bloods_and_sacrifice.snbt
  Patch-Pack-CN/config/ftbquests/quests/chapters/bloods_and_sacrifice.snbt
Labels: approve, ftbquest

#25 提交血魔法zh_cn文件
  Patch-Pack-CN/kubejs/assets/bloodmagic/lang/zh_cn.json
Labels: need review

#23 咒法学章节
  Patch-Pack-CN/config/ftbquests/quests/chapters/magic_spells_and_more.snbt
Labels: ftbquest, in progress, need review

#26 ArsOmega硬编码汉化
  Patch-Pack-CN/config/vaultpatcher_asm/ArsOmega-1.18.2-2.7.4.json
  Patch-Pack-CN/config/vaultpatcher_asm/config.json
Labels: need review
